Loading data from SQL into a DataFrame Example:

First, creata a SQLite database using built-in `sqlite3` driver:

In [1]:
import sqlite3

In [2]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL, d INTEGER
 );"""

In [3]:
con = sqlite3.connect('mydata.sqlite')
# First create a Connection object that represents the database.
# Here the data will be stored in the mydata.sqlite file

In [4]:
con.execute(query) # Create a table

In [5]:
con.commit() # Save the change

Most SQL drivers (PyODBC, psycopg2, MySQLdb, pymssql, etc.) return a list of tuples when selecting data from a table:

In [6]:
cursor = con.execute('select * from test')

In [7]:
rows = cursor.fetchall()
rows

[]

In [8]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3), 
        ('Sacramento', 'California', 1.7, 5)]

In [9]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [10]:
con.executemany(stmt, data)

In [11]:
con.commit()

In [12]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()

In [13]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [14]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [16]:
import pandas as pd
pd.DataFrame(rows, columns = [x[0] for x in cursor.description])
# need column names for DataFrame generator
# names can be found in cursor's description attribute

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

For convenience, the [SQLAlchemy project](https://www.sqlalchemy.org/) abstracts away many of the common differences between SQL databses. 

pandas has a `read_sql` function that enables you to read data from a general SQLAlchemy connection.

In [ ]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite://mydata.sqlite')
pd.read_sql('select * from test', db)